body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: linear-gradient(to bottom right, #0f2027, #203a43, #2c5364);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

 
nav {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 15px 30px;
    border-radius: 25px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    font-size: 18px;
    max-width: 90%;
    margin: 0 auto;
    backdrop-filter: blur(10px);
}

.newa {
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #ffffff;
    color: white;
    border-radius: 12px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    background-color: transparent;
}

.newa:hover {
    background-color: white;
    color: #333333;
    transform: scale(1.1);
}
table,
      th,
      td {
        border: 1px solid #e7e7e7;
      }
      .project {
        background-color: #1c1c1c;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 10vh;
        padding:50px;
        border-radius: 25px;
      }